# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [ ]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [ ]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [ ]:
def answer_one():
    highestGoldMedal=max(df['Gold'])
    name=df[df['Gold']==highestGoldMedal].index[0]
    return str(name)

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [ ]:
def answer_two():
    s_w=max(df['Gold']-df['Gold.1'])
    return df[(df['Gold']-df['Gold.1'])==s_w].iloc[0].name
answer_two()

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [4]:
def answer_three():
    atleast=(df['Gold']>=1)&(df['Gold.1']>=1)
    new_df=df[atleast]
    new_df['change']=((new_df['Gold']-new_df['Gold.1'])/(new_df['Gold.2']))
    max_value=max(new_df['change'])
    mask=new_df['change']==max_value
    
    return new_df[mask].index[0]
answer_three()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [5]:
def answer_four():
    df['Points']=(df['Gold.2']*3)+(df['Silver.2']*2)+(df['Bronze.2']*1)
    return df['Points']
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64

In [6]:
census_df=pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [7]:
census_df['STNAME'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [8]:
mask=census_df['STNAME']=='Alabama'
len(census_df[mask][['COUNTY','STNAME','CTYNAME']])

68

In [9]:
def answer_five():
    return census_df[census_df['SUMLEV']==50]['STNAME'].value_counts().argmax()
answer_five()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Texas'

In [10]:
mask=census_df['SUMLEV']==50
census_df[mask][['STNAME','CTYNAME','CENSUS2010POP']]

         STNAME             CTYNAME  CENSUS2010POP
1       Alabama      Autauga County          54571
2       Alabama      Baldwin County         182265
3       Alabama      Barbour County          27457
4       Alabama         Bibb County          22915
5       Alabama       Blount County          57322
6       Alabama      Bullock County          10914
7       Alabama       Butler County          20947
8       Alabama      Calhoun County         118572
9       Alabama     Chambers County          34215
10      Alabama     Cherokee County          25989
11      Alabama      Chilton County          43643
12      Alabama      Choctaw County          13859
13      Alabama       Clarke County          25833
14      Alabama         Clay County          13932
15      Alabama     Cleburne County          14972
16      Alabama       Coffee County          49948
17      Alabama      Colbert County          54428
18      Alabama      Conecuh County          13228
19      Alabama        Coosa County          11539
20      Alabama    Covington County          37765
21      Alabama     Crenshaw County          13906
22      Alabama      Cullman County          80406
23      Alabama         Dale County          50251
24      Alabama       Dallas County          43820
25      Alabama       DeKalb County          71109
26      Alabama       Elmore County          79303
27      Alabama     Escambia County          38319
28      Alabama       Etowah County         104430
29      Alabama      Fayette County          17241
30      Alabama     Franklin County          31704
...         ...                 ...            ...
3162  Wisconsin     Washburn County          15911
3163  Wisconsin   Washington County         131887
3164  Wisconsin     Waukesha County         389891
3165  Wisconsin      Waupaca County          52410
3166  Wisconsin     Waushara County          24496
3167  Wisconsin    Winnebago County         166994
3168  Wisconsin         Wood County          74749
3170    Wyoming       Albany County          36299
3171    Wyoming     Big Horn County          11668
3172    Wyoming     Campbell County          46133
3173    Wyoming       Carbon County          15885
3174    Wyoming     Converse County          13833
3175    Wyoming        Crook County           7083
3176    Wyoming      Fremont County          40123
3177    Wyoming       Goshen County          13249
3178    Wyoming  Hot Springs County           4812
3179    Wyoming      Johnson County           8569
3180    Wyoming      Laramie County          91738
3181    Wyoming      Lincoln County          18106
3182    Wyoming      Natrona County          75450
3183    Wyoming     Niobrara County           2484
3184    Wyoming         Park County          28205
3185    Wyoming       Platte County           8667
3186    Wyoming     Sheridan County          29116
3187    Wyoming     Sublette County          10247
3188    Wyoming   Sweetwater County          43806
3189    Wyoming        Teton County          21294
3190    Wyoming        Uinta County          21118
3191    Wyoming     Washakie County           8533
3192    Wyoming       Weston County           7208

[3142 rows x 3 columns]

In [13]:
def answer_six():
    states=list(census_df['STNAME'].unique())
    mask=census_df['SUMLEV']==50
    filter_df=census_df[mask][['STNAME','CTYNAME','CENSUS2010POP']]
    myList=[]
    for state in states:
        mask=filter_df['STNAME']==state
        frame=filter_df[mask]
        top3=frame.sort_values('CENSUS2010POP',ascending=False)[:3]
        myList.append([sum(top3['CENSUS2010POP']),state])
    myList.sort(reverse=True)
    result=[item[1] for item in myList[:3]]
    return result
answer_six()

['California', 'Texas', 'Illinois']

In [14]:
def answer_six1():
    df=census_df[census_df['SUMLEV']==50].copy()
    top3_df=pd.DataFrame(columns=['CENSUS'])
    for group,frame in df.groupby(['STNAME']):
        total=frame.sort_values('CENSUS2010POP',ascending=False)[:3]['CENSUS2010POP'].sum()
        top3_df.loc[group]=total
    return list(top3_df.sort_values('CENSUS',ascending=False)[:3].index)
answer_six1()

['California', 'Texas', 'Illinois']

In [16]:
def answer_seven():
    mask=census_df['SUMLEV']==50
    df=census_df[mask].copy()
    df=df.set_index(['STNAME','CTYNAME'])
    df=df[
        [
            'POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015'
        ]
    ]
    df['max_pop']=df.max(axis=1)
    df['min_pop']=df.min(axis=1)
    df['diff_pop']=df['max_pop']-df['min_pop']
    return df['diff_pop'].argmax()[1]
answer_seven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  del sys.path[0]

'Harris County'

In [18]:
mask=((census_df['REGION']==1)|(census_df['REGION']==2))
df=census_df[mask].copy()
mask2=df['POPESTIMATE2015']>df['POPESTIMATE2014']
df[df['CTYNAME'].str.startswith('Washington')][mask2][['STNAME','CTYNAME']].sort_index()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County