In [4]:
print("Good Morning")

Good Morning

In [7]:
print("Good Morning",end=" ")
print("Good afternoon")

Good Morning Good afternoon

In [8]:
a=123

In [9]:
type(a)

int

In [10]:
b="abc"

In [11]:
type(b)

str

In [12]:
c=1.234

In [13]:
type(c)

float

In [14]:
str(a)

'123'

In [15]:
d=str(a)

In [16]:
d

'123'

In [17]:
a=int(input("Enter the lower limit:"))
b=int(input("Enter the upper limit:"))
for i in range(a,b+1):
    print(i)

Enter the lower limit:1
Enter the upper limit:10
1
2
3
4
5
6
7
8
9
10

# operators

### arithmetic operators

In [ ]:
+, -, *,/,//,**,%

In [20]:
2 + 3
a=2
b=3
a + b

5

In [21]:
10 / 3

3.3333333333333335

In [22]:
10 // 3

3

In [23]:
int(10/3)

3

In [24]:
2 ** 2

4

In [25]:
2 ** 3

8

In [26]:
pow(2,3)

8

# Relational Operators

In [29]:
2 < 3

True

In [30]:
type(True)

bool

In [31]:
type(10.5)

float

In [32]:
2 == 3

False

In [33]:
2 != 3

True

In [34]:
True = 2

SyntaxError: can't assign to keyword (<ipython-input-34-da3e5402d318>, line 1)

In [35]:
"" = 2

SyntaxError: can't assign to literal (<ipython-input-35-a3aa7f058529>, line 1)

In [36]:
a,b,c=10

TypeError: cannot unpack non-iterable int object

In [37]:
a=b=c=10

In [38]:
a

10

In [39]:
b

10

In [40]:
c

10

In [41]:
a,b,c = 1,2,3

In [42]:
a,b,c

(1, 2, 3)

In [43]:
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [44]:
a=1,2,3

In [46]:
type(a)

tuple

In [47]:
a = 1

In [48]:
a = a + 1
a

2

In [49]:
a+=1
a

3

In [50]:
a*=3
a

9

## logical operators

In [51]:
True and True

True

In [52]:
False and True

False

In [53]:
True or False

True

In [54]:
not False

True

In [55]:
not True

False

In [56]:
2 and 3

3

In [57]:
bool(0),bool(-1)

(False, True)

In [58]:
3 and 2

2

In [59]:
0 and 5

0

In [60]:
1 or 5

1

In [61]:
2 or 0

2

In [62]:
0 or -1

-1

In [63]:
not 1

False

In [64]:
not 0

True

In [65]:
3 and 5 or 6

5

In [66]:
3 or 5 and 6

3

In [67]:
not 3 or 5 and 6

6

In [68]:
2 + 3 * 4
#pedmas
3 * 3 // 2 ** 3

1

## bitwise operators

In [70]:
7 & 4

4

In [ ]:
7 - 111
4 - 100
&   100

In [71]:
bin(4)

'0b100'

In [72]:
bin(7)

'0b111'

In [73]:
int(100)

100

In [74]:
int(0b100)

4

In [75]:
8 << 1

16

In [76]:
8 << 2

32

In [77]:
8 >> 1

4

In [78]:
8 >> 2

2

## Identity Operators

In [79]:
2 is 2

True

In [80]:
2 is 3

False

In [81]:
2 is not 3

True

## Membership operators

In [82]:
'ap' in 'apssdc'

True

In [83]:
'Ap' in 'apssdc'

False

In [84]:
'Ap' not in 'apssdc'

True

In [85]:
1 in (1,2,3)

True

In [86]:
10 not in (1,2,3)

True

#### Conditional Statements

###### If statement

In [98]:
num=10
if num>=0:
    if num==0:
        print("zero")
    elif num!=0:
        print("positive")
else:
    print("negative")

positive

In [101]:
year=int(input("Enter the year:"))
if year%400==0 or (year%4==0 and year%100!=0):
    print(year," Leap year")
else:
    print(year," not a leap year")

Enter the year:2000
2000  Leap year

In [102]:
## Write a code to find whether the given number is factor of 1000 or not

a=int(input())
if 1000%a==0:
    print("The number is a factor of 1000")
else:
    print("the number is not a factor of 1000")

100
The number is a factor of 1000

In [107]:
## Write a program to find the length of the digit 1234
a=1234
b=str(a)
print(len(b))

4

In [108]:
### Write a program to find the greatest of 200,536,145,221
a,b,c,d=200,536,145,221
if a>b and a>c and a>d:
    print(a," is greater")
elif b>a and b>c and b>d:
    print(b," is greater")
elif c>a and c>b and c>d:
    print(c," is greater")
else:
    print(d," is greater")

536  is greater

In [112]:
### write a program to define the grade of a student based on percentages:
## 76 above ---- Distintion and first class
## 51-75 ---- Second class 
## 35-50  ------pass 
## below 35 ---- Fail


num=int(input())
if(num>76):
    print("Distinction")
elif(51<=num<=75):
    print("second class")
elif(35<=num<=50):
    print("pass")
else:
    print("fail")

24
fail

case-1: inputs--- (10,10,10) o/p:10
case-2: inputs--- (10,20,30) o/p:60
case-3: inputs--- (10,10,20) o/p:20

In [8]:
a=int(input())
b=int(input())
c=int(input())
if a==b==c:
    print(a)
elif a!=b!=c!=a:
    print(a+b+c)
elif a==b!=c:
    print(c)
elif c==b!=a:
    print(a)
else:
    print(b)

12
10
22
44

In [3]:
a=int(input())
b=int(input())
c=int(input())
if a==b==c:
    print(a)
elif a!=b and b!=c:
    print(a+b+c)
elif a==b and b!=c:
    print(c)
elif a==c and c!=b:
    print(b)
elif c==b and b!=a:
    print(a)

12
10
12
34

In [ ]:
### write a program to find the given number is exist in the given range

## Loops

## for loop

In [ ]:
for temp_var in sequence:
    statemnets

In [10]:
for i in 1,2,3:
    print(i,end='\t')

1	2	3

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [14]:
for i in range(1,6,2):
    print(i)

1
3
5

In [16]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [22]:
s="apssdc"
for i in range(len(s)):
    print(s[i])

a
p
s
s
d
c

In [24]:
for i in range(len(s)-1,-1,-1):
    print(s[i],end='')

cdsspa

In [25]:
chr(65)

'A'

In [27]:
for i in range(65,65+26):
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRSTUVWXYZ

### continue

In [28]:
for i in range(65,65+26):
    if chr(i)=='S':
        continue
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQRTUVWXYZ

### break

In [29]:
for i in range(65,65+26):
    if chr(i)=='S':
        break
    print(chr(i),end='')

ABCDEFGHIJKLMNOPQR

In [ ]:
while condition:
    statements

In [32]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

## 2 * 1 = 2

In [35]:
i=1
t=2
while i<=10:
    print(t,"*",i,'=',t*i)
    i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

* write a program to find the factorial of given number
* write a program to print first 15 prime numbers