### List
    List is a collection of items

In [ ]:
a = list()
type(a)

In [ ]:
a = []
type(a)

In [ ]:
len(a)

In [ ]:
a = [10,20,40,60]
len(a)

### list methods

#### append(item)

In [ ]:
a

In [ ]:
a.append(100)

In [ ]:
a

In [ ]:
b= ['sai','lakshmi']

In [ ]:
a.append(b)

In [ ]:
a

In [ ]:
a[3]

In [ ]:
a[-2]

In [ ]:
a[0] = 2000

In [ ]:
a

In [ ]:
a[5][1] = 'ram'

In [ ]:
a[5].append('sairam')

In [ ]:
a

### extend(collection_item)

In [ ]:
a = [10,20,30]
b = [40,50]
a.extend(b)
a

In [ ]:
a = [10,20,30]
for each_item in a:
    print(each_item)

In [ ]:
# task
students = [['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [ ]:
high = 0
for student in students:
    name = student[0]
    marks = student[1]+student[2]+student[3]
    if high<marks:
        high = marks
        
for student in students:
    name = student[0]
    marks = sum(student[1:])
    if high == marks:
        print(name)

### count(item)

In [ ]:
a = [10,30,40,30]
a.count(30)

In [ ]:
[30,[30,40],30].count(40)

In [ ]:
dir(a)

### clear()

In [ ]:
a = [10,20,30]
a.clear()
a

In [ ]:
a = [10,30]
b = a
b

In [ ]:
a.append(30)
a,b

### index(item)

In [ ]:
a = [10,30,40,30]
a.index(30)

### insert(index,item)

In [ ]:
a = [10,30,40]
a.insert(100,1000)
a

### pop(index)

In [2]:
a = [10,30,40]
a.insert(0,a.pop(1))
a

[30, 10, 40]

### remove(item)

In [ ]:
a= [10,30,40]
a.remove(10)

#### reverse()

In [ ]:
a = [10,50,20]
a.reverse()
a

### sort()

In [ ]:
a = [10,50,30]
a.sort()
a

In [ ]:
a = [10,50,30]
a.sort()
a.reverse()
a

In [ ]:
a = [10,50,30]
a.sort(reverse = True)
a

In [ ]:
len(a)

In [ ]:
min(a),max(a)

#### slicing

In [ ]:
a = [10,30,40,50,60]

In [ ]:
a[0:4]

In [ ]:
a[1:4]

In [ ]:
a[2:5]

In [ ]:
a

In [ ]:
a[1::2]

In [ ]:
a[:]

In [ ]:
a[:3]

In [ ]:
a[::2]

In [ ]:
a

In [ ]:
a[::-1]

In [ ]:
#            no, sub1, sub2
students = [[1,  30,  40],[3,40,100],[2,50,10]]

# res
# [[2,50,10],[1,30,40],[3,40,100]]

In [ ]:
students.sort()
students

### tuples
    collection of items and tuple is immutable

In [ ]:
a = tuple()
a =()

In [ ]:
a = (10,30,40)

### methods in tuple

### count(item)

In [ ]:
a = (10,30,40,30)
a.count(30)

### index(item)

In [ ]:
a = (10,30,40,30)
a.index(30)

In [ ]:
a = (30,40,50)
min(a)

In [ ]:
max(a)

In [ ]:
sum(a)

In [ ]:
a = (1,2,3,4,5,6)
a[3:0:-1]

In [ ]:
a[1:4][::-1]

### string methods

##### startswith(sub_string)
    checks original string starting with sub_string or not

In [ ]:
name = 'python program'
name.startswith('Python')

#### endswith(sub_string)

In [ ]:
name.endswith('gram')

### isupper()

### islower()

In [ ]:
name.islower()

### upper()

In [ ]:
name

In [ ]:
name.upper(),name

### isdigit()

In [ ]:
rno = '123'
rno.isdigit(),'12a12'.isdigit()

### split(),split('a')

In [ ]:
name = 'i am ramu'

name.split()

In [ ]:
name.split('a') # i , r, mu

### join(collection_string)

In [ ]:
characters = ['p','y','t','h','o','n']
''.join(characters)

#### strip()
    removes spaces in starting and ending

In [ ]:
name = '      sai ram     '
name.strip(),len(name),len(name.strip())

#### lstrip()
    remove starting spaces

In [ ]:
name.lstrip()

#### rstrip()
    removes ending spaces

In [ ]:
name.rstrip()

#### isalpha()

In [ ]:
s = 'sai ram'
s.isalpha()

#### swapcase()

In [ ]:
s = 'sAi rAm'
s.swapcase()

#### capitalize()

In [ ]:
s = 'sai ram'
s.capitalize()

#### title()

In [ ]:
s = 'sai ram'
s.title()

1. find the sum of digits
2. find the number of characters(a-z and A-z)
3. find number of digits
4. find average of digits
5. find lucky number (eaxmple 1234=1+2+3+4=10=1+0=1(lucky number)

In [6]:
data_string = "sairam 1234 lakshmi"

In [7]:
def sumOfDigits(data):
    result = 0
    for character in data:
        if character.isdigit():
            result += int(character)
    return result

In [8]:
sumOfDigits(data_string)

10

In [10]:
# find lucky number
data = 'sai11234'
while True:
    result = str(sumOfDigits(data)) # '10'
    if len(result)>1:
        data = result
    else:
        break
print(result)

2

#### Dictionary
    Is the collection of items with key-value pair

In [11]:
english = dict()
english = {}
type(english)

dict

In [12]:
english = {'name':'sai','mobile':'9848022337'}

In [14]:
for key in english:
    print(key)

name
mobile

In [18]:
english['gender']  = 'male'
english

{'name': 'ram', 'mobile': '9848022337', 'gender': 'male'}

In [19]:
for key in english:
    print(english[key])

ram
9848022337
male

In [20]:
dir(english)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

#### methods in dictionary

#### clear()

#### copy()

#### fromkeys(collection_keys)
    to create new dictionary from keys

In [23]:
keys = ['name','gender','mobile']
{}.fromkeys(keys,30)

{'name': 30, 'gender': 30, 'mobile': 30}

In [24]:
person = {'name':'lakshmi','gender':'female','isStudent':True}
person['name']

'lakshmi'

#### get(key)
    return value related to the given key if available

In [28]:
print(person.get('name1','key not available'))

key not available

#### setdefault(key,defaultvalue)

In [37]:
person.setdefault('Adhar','default value')

'default value'

In [36]:
person

{'name': 'lakshmi',
 'gender': 'female',
 'isStudent': True,
 'name1': None,
 'Adhar': 'default value'}

#### item()

In [38]:
person.items()

dict_items([('name', 'lakshmi'), ('gender', 'female'), ('isStudent', True), ('name1', None), ('Adhar', 'default value')])

### keys()
    return keys from the dictionary

In [39]:
person.keys()

dict_keys(['name', 'gender', 'isStudent', 'name1', 'Adhar'])

### pop(key)
    remove the item related to given key

In [40]:
person.pop('name1')

In [41]:
person

{'name': 'lakshmi',
 'gender': 'female',
 'isStudent': True,
 'Adhar': 'default value'}

#### popitem()

In [43]:
person.popitem()

('Adhar', 'default value')

In [44]:
person

{'name': 'lakshmi', 'gender': 'female', 'isStudent': True}

#### update(dict)

In [46]:
change = {'name':'sai','Grade':'A'}
person.update(change)

In [47]:
person

{'name': 'sai', 'gender': 'female', 'isStudent': True, 'Grade': 'A'}

#### values()

In [48]:
person.values()

dict_values(['sai', 'female', True, 'A'])

In [52]:
data = 'sairam123'
result = {}
for character in data:
    if character.isalpha():
        if 'alpha' in result:
            old = result['alpha']
            result['alpha'] = old + 1
        else:
            result['alpha'] = 1
    if character.isdigit():
        if 'digits' in result:
            old = result['digits']
            result['digits'] = old + 1
        else:
            result['digits'] = 1
        
print(result)

{'alpha': 6, 'digits': 3}

In [55]:
data = 'sairam123'
result = {}
for character in data:
    if character.isalpha():
        result['alpha'] = result.get('alpha',0) + 1
        
    if character.isdigit():
        result['digits'] = result.get('digits',0)+1
        
print(result)

{'alpha': 6, 'digits': 3}

#### find frequency of characters

In [56]:
name = 'python program'
frequency = {}

#### find frequency of urls

In [57]:
urls = ['www.google.com','www.gmail.com','www.yahoo.com','www.google.com']

### Sets:

In [58]:
a={1,2,3,4,5}

In [59]:
type(a)

set

a.add(10)

In [61]:
a.add(10)

In [62]:
a

{1, 2, 3, 4, 5, 10}

In [63]:
a.pop()

1

In [64]:
a

{2, 3, 4, 5, 10}

In [65]:
b={1,7,8,9}

In [66]:
b

{1, 7, 8, 9}

In [67]:
a.union(b)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [68]:
a.difference(b)

{2, 3, 4, 5, 10}

In [69]:
a,b

({2, 3, 4, 5, 10}, {1, 7, 8, 9})

In [70]:
a.intersection(b)

set()

In [71]:
[].clear()

In [72]:
a.clear()

In [73]:
a

set()

In [74]:
a={1,2,3,4,5}

In [75]:
a

{1, 2, 3, 4, 5}

In [76]:
a.remove(2)

In [77]:
a

{1, 3, 4, 5}

In [78]:
a,b

({1, 3, 4, 5}, {1, 7, 8, 9})

In [79]:
a.update(b)

In [80]:
a

{1, 3, 4, 5, 7, 8, 9}

In [85]:
c={1,3}

In [87]:
c.issubset(a)

True