In [ ]:
fh_i = open('book.txt','r')
fh_o = open('report.txt','w')
count = 0
rows = []
for Line in fh_i:
    count += 1
    if count==1:
        fh_o.write(Line.strip()+'\ttotal\n')
    else:
        marks_list = Line.strip().split()[2:]
        newMarks = []
        for each in marks_list:
            newMarks.append(int(each))
        total_marks = sum(newMarks)
        row = Line.strip()+'\t'+str(total_marks)+'\n' #modified
        rows.append([total_marks,row]) # modifies
rows.sort(reverse=True) #modified
for row in rows:
    fh_o.write(row[1])
    
fh_i.close()
fh_o.close()

#### List comprehension

In [1]:
numbers = []

for i in range(1,101):
    if i%3==0:
        numbers.append(i)

print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

#### [ item loop condition ]

In [2]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [3]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
[each*each for each in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
[each for each in range(1,11) if each%2==0]

[2, 4, 6, 8, 10]

In [ ]:
students=[['sai',70],['ram',30],['lakshmi',60]]

#### filter data percentage >=60 and backlogs below2

In [6]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]

In [7]:
[student for student in students if (student[1]>=60 and student[2]<=1)]

[['sai', 70, 1]]

In [8]:
[ each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

### x^2+y^2 = z^2

In [11]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if ((x**2+y**2)==(z**2)) ]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [ ]:
0,1

In [ ]:
00
01
10
11

### create two digit roll number with numbers 0 to 9

In [12]:
[ str(digit1)+str(digit2) for digit1 in range(10) for digit2 in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

#### create dictionary for squares of 1 to 10 numbers
squares = {1:1,2:4,3:9}

In [13]:
squares = {}
for each in range(1,11):
    squares[each] = each*each
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### dictionay comprehension

In [14]:
{ each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [15]:
{ each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [18]:

{ each:each*each if each%2==0 else 
 each**3 for each in range(1,11) }

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [20]:
names = ['sai','ramu','lakshmi']
grades = ['A','B','c']
students = {}
for index in range(len(names)):
    name = names[index]
    grade = grades[index]
    students[name] = grade
print(students)

{'sai': 'A', 'ramu': 'B', 'lakshmi': 'c'}

In [31]:
names = ['sai','ramu','lakshmi']
grades = ['A','B','c']
for name,grade in zip(names,grades):
    print(item)

('lakshmi', 'c')
('lakshmi', 'c')
('lakshmi', 'c')

In [32]:
names = ['sai','ramu','lakshmi']
grades = ['A','B','c']
{ name:grade for name,grade in zip(names,grades) }

{'sai': 'A', 'ramu': 'B', 'lakshmi': 'c'}

### sort the students based on english marks
['name',english,maths]

In [43]:
students = [['sai',30,40],['lakshmi',100,30],['ram',50,60]]

removeIndex = 2
for student in students:
    # ['sai',30,40]
    student.insert(0,student.pop(removeIndex))
    # [30,'sai',40]
students.sort()
for student in students:
    # [30,'sai',40]
    student.insert(removeIndex,student.pop(0))
    # ['sai',30,40]
print(students)

[['lakshmi', 100, 30], ['sai', 30, 40], ['ram', 50, 60]]

In [48]:
add = lambda x:'hi'

In [50]:
square = lambda x:x*x

In [62]:
fun = lambda x,y:(x,y)

In [64]:
fun(10,20)

(10, 20)

In [67]:
students = [['sai',130,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[1]+x[2])
students

[['ram', 50, 60], ['lakshmi', 100, 30], ['sai', 130, 40]]

In [68]:
numbers = ['10','30','60']
result = []#[10,30,60]
for each in numbers:
    result.append(int(each))
result

[10, 30, 60]

### map(function,collection)

In [70]:
numbers = ['10','30','60']
s = map(int,numbers)
list(s)

[10, 30, 60]

In [71]:
marks = ['10','30','60']
list(map(lambda x:int(x)+30,marks))

[40, 60, 90]

In [74]:
marks = [10,30,60,0,100]
all(marks)

False

In [76]:
any(marks)

True

#### filter(function,collection)

In [78]:
marks = [10,30,40,0,100]
s = filter(None,marks)
list(s)

[10, 30, 40, 100]

In [81]:
students = [['sai',10],['sunny',30],['ramu',50]]
# result = [['sai',10],['sunny',30]]
list(filter(lambda x:x[1]<=30,students))

[['sai', 10], ['sunny', 30]]

In [83]:
students = [
    ['sai',{'maths':30,'english':50}],
    ['ram',{'english':100,'maths':100}],
    ['roja',{'maths':50,'english':40}]
]
students.sort(key=lambda x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'english': 100, 'maths': 100}]]